<!DOCTYPE html>
<html lang="ru" ng-app="App">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' href="style.css">
	<title>Front-End</title>
</head>
<body ng-controller="ListCtrl">
	<div class="add">
		<ul>
			<li class="centr">Добавление пользователей</li>
			<li><p>username:<p><input type="text"  ng-model="username" value="{{username}}"></li><!-- ng-model let us creating our own value -->
			<li><p>firstname:<p><input type="text" ng-model="firstname" value="{{firstname}}"></li>
			<li><p>lastname:<p><input type="text" ng-model="lastname" value="{{lastname}}"></li>
			<li><p>age:<p><input type="text" ng-model="age" value="{{age}}"></li>
			<li><p>email:<p><input type="text" ng-model="email" value="{{email}}"></li>
			<li><input type="button" class="addb" value="добавить" ng-click="addRow(user)"></li>
		</ul>
	</div>
	<div class="table">
		<p class="sign">Количество пользователей: {{users.length}}</p> <!-- users counter, showing array length -->
		<ul>
			<li>username</li>
			<li>firstname</li>
			<li>lastname</li>
			<li>age</li>
			<li>email</li>
			<li></li>
			<li></li>
		</ul>
		<div class="repeat" ng-repeat="user in users"> <!-- starting cycle of users -->
			<ul>
				<li>{{user.username}}</li> 
				<li>{{user.firstname}}</li>
				<li>{{user.lastname}}</li>
				<li>{{user.age}}</li>
				<li>{{user.email}}</li>
				<li><input type="button" class="eddit" value="редактировать" ng-click="edit(user); eddit = !eddit"></li> <!-- starts function 'edit' - using this function we can change values, also giving true value to show div 'box' -->
				<li><input type="button" class="delete" value="удалить" ng-click="removeRow(user.username)"></li>
			</ul>
			<div class="add box" ng-show="eddit">
				<ul>
					<li class="centr">Редактирование пользователей</li>
					<li><p>username:<p><input type="text"  ng-model="current.username" value="{{current.username}}"></li>
					<li><p>firstname:<p><input type="text" ng-model="current.firstname" value="{{current.firstname}}"></li>
					<li><p>lastname:<p><input type="text" ng-model="current.lastname" value="{{current.lastname}}"></li>
					<li><p>age:<p><input type="text" ng-model="current.age" value="{{current.age}}"></li>
					<li><p>email:<p><input type="text" ng-model="current.email" value="{{current.email}}"></li>
					<li><input type="button" class="save" value="сохранить" ng-click="save(current); eddit = !eddit"></li><!-- removing div 'box', also clearing variable 'current' with function 'save' -->
				</ul>
			</div>
		</div>
	</div>	
</body>
<script src='angular.js'></script>
<script src='controllers.js'></script>
</html>
