Стандартные стили*/
body{
	height: 100%;
	background-color: #fff;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}
/*html { height: 101%; }*/ /* always display scrollbars */
body { font-size: 62.5%; line-height: 1; font-family: Arial, Tahoma, Verdana, sans-serif; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 

input { outline: none; width: 180px;}
input[type=button]{width: 104px;}
html{overflow-x: hidden;}
table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

a { text-decoration: none; }
.table, .add{max-width: 1400px; margin: 0 auto;}
.table ul{height: 42px; display: inline-block;}
.table ul li{
	float: left;
	width: 175px;
	height: 27px;
	text-align: center;
	font-size: 13px;
	background: #F2F2F2;
	border: 1px solid #5D6A90;
	border-bottom: 0;
	padding: 8px;
}
.table ul li:nth-child(2n){
	border-right: 0;
	border-left: 0;
}
.table ul:last-child li{
	border-bottom: 1px solid #5D6A90;
}
.table .ng-scope:last-child  ul li{border-bottom: 1px solid #5D6A90;}
.table {text-align: center;}
.sign{
	font-size: 15px;
	padding: 15px;
}
.add{
	font-size: 15px;
	display: inline-block;
	width: 49%;
	height: 250px;
}
.add ul li{padding: 15px; text-align: left;}
.add p{float: left; width: 100px;}
.box{
	display: block;
	position: fixed;
	top: 25px;
	left: 40%;
    border: 1px solid;
    width: 314px;
    z-index: 999;
    background: #fff;
}
.box ul li{
	border: none !important;
	height: auto;
	background: #fff;
	width: auto;
	float: none;
}
.box ul{display: block;}
.centr{font-weight: bold !important; font-size: 16px !important; text-align: left !important;}